@charset "utf-8";
h2.title1{text-align: left; padding: 0;}
p.m1{text-align: left; padding: 0;}

/* page-title 구역 */
section.page-title{margin-bottom: 100px;}

/* voice 구역 */
section.voice #mo-voice{display: none;}
section.voice{margin-bottom: 100px;}
section.voice h2.title1{padding-bottom: 20px;}
section.voice h2.title1>i{cursor: pointer;}
section.voice .container{gap: 30px;}
section.voice .container .voice-active{width: calc((100% - 270px) / 10);}
section.voice .container .voice-active .voice-img{border-radius: 50%;  border: solid 5px #9DFECB; 
    overflow: hidden; box-shadow: 0 4px 10px rgba(156, 163, 175, 0.3);}
section.voice .container .voice-active .voice-img img{border-radius: 50%; cursor: pointer; 
    overflow: hidden;width: 100%; height: 100%;
    transition: all 0.3S;}
section.voice .container .voice-active .voice-img img:hover{transform: scale(1.2); opacity: 0.5;}
section.voice .container .voice-active .m2{text-align: center; padding-top: 10px; color: #2A56F2;}

/* *{ border: solid 1px red;} */
/* list 구역 */
#mo-select{display: none;}

section.list{position: relative;}
section.list h2.title1{padding-bottom: 20px;}
section.list p.m1{padding-bottom: 20px;}
section.list>a{position: absolute; top: 5%; right: 5%; 
    text-align: center; padding: 10px; font-size: 40px;
    color: #fff; background-color: #2A56F2;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(156, 163, 175, 0.3); }
section.list>a:hover{color: #2A56F2; background-color: #fff;}

section.list .swiper-wrapper p{text-align: center; padding: 5px 0; cursor: pointer;
    margin-bottom: 20px;}
.blue-under{border-bottom: solid 4px #2A56F2;}

section.list .select{gap: 20px;}
section.list .select span.m3{border-radius: 20px; border: solid 1px #2A56F2; padding: 5px 0;
    width: 120px; text-align: center; cursor: pointer;}
.blue-click{color: #fff; background-color: #2A56F2;}


/* pop-post 구역 */
section.pop-post .b6{padding-top: 50px; padding-bottom: 20px;}

/* 박스 전체 */
section.pop-post .pop-box{max-width: 1260px; margin: auto; border: solid 1px #9CA3AF; border-radius: 20px; 
                            margin-bottom: 20px; padding: 30px; position: relative;}

/* 박스 이미지 */
section.pop-post .pop-box .pop-img1{width: 10%; position: absolute;}

/* 박스 정보 */
section.pop-post .pop-box .pop-info{padding-left: 12%; padding-top: 1%;}
section.pop-post .pop-box .pop-info p.r1{text-align: left; font-size: 20px;}
section.pop-post .pop-box .pop-info p.m4{padding-bottom: 10px;}
section.pop-post .pop-box .pop-info .flex-box{align-items: center;}
section.pop-post .pop-box .pop-info .flex-box p:nth-child(1){padding-right: 10px;}
section.pop-post .pop-box .pop-info .flex-box p:nth-child(3){padding-left: 10px;}

/* 팔로잉 버튼 */
section.pop-post .pop-box .bt-green2{position: absolute; top: 30px; right: 30px;}

/* 글 내용 */
section.pop-post .pop-box  p.r2{padding-top: 3%; overflow: hidden; cursor: pointer; padding-top: 3%;
    display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}

/* 첨부 이미지 */
section.pop-post .pop-box .pop-img2{gap: 20px;}
section.pop-post .pop-box .pop-img2 img{width: calc((100% - 140px) / 8); border-radius: 20px;
    margin: 30px 0;}

/* 좋아요, 댓글, 북마크 */
.pop-box .click{gap: 50px;}
.pop-box .click i{cursor: pointer; font-size: 24px;}
.pop-box .fa-solid.fa-heart{padding: 3px; color: #2A56F2;}
.pop-box .fa-solid.fa-bookmark{padding-left: 6px; padding-right: 6px; color: #2A56F2;}
.pop-box .fa-solid.fa-heart, .pop-box .fa-solid.fa-bookmark{display: none;}

.click-txt-blue{color: #2A56F2;}

/* n일전 */
section.pop-post .pop-box>p.r1{text-align: right;}

/* 스와이퍼 설정 */
section.pop-post .swiper{padding-bottom: 30px;}
section.pop-post .swiper-button-next,
section.pop-post .swiper-button-prev{top:calc(50% - 40px);}
section.pop-post .swiper-pagination{position: absolute; bottom: 0;}
:root {--swiper-navigation-size: 30px;}
.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-horizontal.swiper-pagination-bullets
{.swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0)
    }}
section.pop-post .swiper-pagination-bullet{
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 4px));
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 100px));
            border-radius: var(--swiper-pagination-bullet-border-radius, 0);}


/* post 구역 */
section.post{margin-top: 100px;}
/* 박스 전체 */
section.post .post-box{border: solid 1px #9CA3AF; border-radius: 20px;
                        margin-bottom: 20px; padding: 30px; position: relative;}

/* 박스 이미지 */
section.post .post-box .post-img1{width: 10%; position: absolute;}

/* 박스 정보 */
section.post .post-box .post-info{padding-left: 12%; padding-top: 1.5%;}
section.post .post-box .post-info p.r1{text-align: left; font-size: 20px;}
section.post .post-box .post-info p.m4{padding-bottom: 10px;}
section.post .post-box .post-info .flex-box{align-items: center;}
section.post .post-box .post-info .flex-box p:nth-child(1){padding-right: 10px;}
section.post .post-box .post-info .flex-box p:nth-child(3){padding-left: 10px;}

/* 팔로잉 버튼 */
section.post .post-box .bt-green2{position: absolute; top: 30px; right: 30px;}

/* 글 내용 */
section.post .post-box p.r2{padding-top: 3%; cursor: pointer; padding-bottom: 30px;}

/* 첨부 이미지 */
section.post .post-box .post-img2{gap: 20px;}
section.post .post-box .post-img2 img{width: calc((100% - 140px) / 8); border-radius: 20px;
    margin-bottom: 30px;}

/* 좋아요, 댓글, 북마크 */
.post-box .click{gap: 50px;}
.post-box .click i{cursor: pointer; font-size: 24px;}
.post-box .fa-solid.fa-heart{padding: 3px; color: #2A56F2;}
.post-box .fa-solid.fa-bookmark{padding-left: 6px; padding-right: 6px; color: #2A56F2;}
.post-box .fa-solid.fa-heart, .post-box .fa-solid.fa-bookmark{display: none;}

.click-txt-blue{color: #2A56F2;}

/* n일전 */
section.post .post-box>.r1{text-align: right;}


/* page 구역 */
section.page{margin-bottom: 200px;}
section.page .flex-box{align-items: center; justify-content: center; gap: 10px;  color: #6B7280;}
section.page .flex-box li{font-family: "Inconsolata", monospace;
    align-items: center;cursor: pointer; /* border: solid 1px red; */}

section.page .flex-box li .fa-angles-left,
section.page .flex-box li .fa-angle-left,
section.page .flex-box li .fa-ellipsis,
section.page .flex-box li .fa-angle-right,
section.page .flex-box li .fa-angles-right{padding: 12px 0 10px 0;}

section.page .flex-box li i{font-size: 16px;}
section.page .flex-box li.page-num{font-weight: bold; padding: 10px 15px; font-size: 20px;
    }

/* 제이쿼리 클래스 */
.page-click{color: #2A56F2;}


/* under-banner 구역 */
section.under-banner{margin-bottom: 200px;}

/* 이미지 디스플레이 설정 */
#mo-under{display: none;}

/* 텍스트 설정 */
section.under-banner .under-banner-img{position: relative;}
section.under-banner .under-banner-txt{position: absolute; left: 15%; top: 50%; transform: translateY(-50%);}
section.under-banner .under-banner-txt .title3{padding-bottom: 20px;}

/* 버튼 설정 */
section.under-banner .friend-find{padding-top: 50px; text-align: center;}





@media(max-width:1600px){
/* under-banner 구역 */
section.under-banner .under-banner-txt{left: 6%;}
}


@media(max-width:1500px){
/* under-banner 구역 */
section.under-banner .under-banner-txt{left: 4%;}
}


@media(max-width:1400px){
/* pop-post 구역 */
/* 박스 전체 */
section.pop-post .pop-box{max-width: 1100px;}

/* under-banner 구역 */
section.under-banner .under-banner-txt{left: 2%;}
}



@media(max-width:1300px){
/* pop-post 구역 */
/* 박스 전체 */
section.pop-post .pop-box{max-width: 1000px;}

}


@media(max-width:1200px){
/* voice 구역 */
section.voice>.container .voice-active .fa-podcast{font-size: 40px;}


/* pop-post 구역 */
/* 박스 전체 */
section.pop-post .pop-box{max-width: 880px;}
}


@media(max-width:992px){
/* page-title 구역 */
section.page-title{margin-bottom: 50px;}

/* voice 구역 */
section.voice #pc-voice{display: none;}
section.voice #mo-voice{display: block;}

section.voice .voice-active img{border-radius: 50%; border: solid 5px #9DFECB;}
section.voice .voice-active .m2{text-align: center; padding-top: 10px; color: #2A56F2;}


/* list 구역 */
section.list .select span.m3{width: 100px;}


/* pop-post 구역 */
/* 박스 전체 */
section.pop-post .pop-box{max-width: 600px;}

/* 박스 이미지 */
section.pop-post .pop-box .pop-img1{width: 17%}

/* 글 내용 */
section.pop-post .pop-box  p.r2{padding-top: 5%;}

/* 첨부 이미지 */
section.pop-post .pop-box .pop-img2 img{width: calc((100% - 80px) / 5);
    border-radius: 10px;}

/* 박스 정보 */
section.pop-post .pop-box .pop-info{padding-left: 22%;}

/* 스와이퍼 설정 */
:root {--swiper-navigation-size: 24px;}


/* post 구역 */
section.post{margin-top: 50px;}

/* 박스 이미지 */
section.post .post-box .post-img1{width: 17%;}

/* 박스 정보 */
section.post .post-box .post-info{padding-left: 21%; padding-top: 2%;}
section.post .post-box .post-info p.m4{padding-bottom: 10px;}
section.post .post-box .post-info .flex-box p:nth-child(1){padding-right: 10px;}
section.post .post-box .post-info .flex-box p:nth-child(3){padding-left: 10px;}

/* 글 내용 */
section.post .post-box p.r2{padding-top: 5%;}

/* 첨부 이미지 */
section.post .post-box .post-img2 img{width: calc((100% - 80px) / 5); border-radius: 20px;
    margin-bottom: 20px 0;}


/* page 구역 */
section.page{margin-bottom: 100px;}

/* under-banner 구역 */
/* 텍스트 설정 */
section.under-banner .under-banner-txt{left: 4%;}

/* 버튼 설정 */
section.under-banner .friend-find{padding-top: 30px;}
}


@media(max-width:767px){
/* list 구역 */
section.list p.m1 span{display: block;}
section.list>a{padding: 10px; font-size: 30px;}  
section.list .select{gap: 10px;}



/* pop-post 구역 */
/* 박스 전체 */
section.pop-post .pop-box{max-width: 100%;}
section.pop-post .swiper-button-next,
section.pop-post .swiper-button-prev{display: none;}

/* 박스 이미지 */
section.pop-post .pop-box .pop-img1{width: 20%;}

/* 박스 정보 */
section.pop-post .pop-box .pop-info{padding-left: 26%; padding-top: 2%;}
section.pop-post .pop-box .pop-info p.r1{font-size: 14px;}
section.pop-post .pop-box .pop-info p.m4{padding-bottom: 10px;}
section.pop-post .pop-box .pop-info .flex-box{align-items: center;}
section.pop-post .pop-box .pop-info .flex-box p:nth-child(1){padding-right: 10px;}
section.pop-post .pop-box .pop-info .flex-box p:nth-child(3){padding-left: 10px;}

section.pop-post .pop-box  p.r2{padding-top: 7%;}

/* 첨부 이미지 */
section.pop-post .pop-box .pop-img2{gap: 10px;}
section.pop-post .pop-box .pop-img2 img{width: calc((100% - 20px) / 3); margin: 20px 0; }

/* 좋아요, 댓글, 북마크 */
.pop-box .click{gap: 30px;}
.pop-box .click i{font-size: 18px;}
.pop-box .fa-solid.fa-heart{padding: 2px;}
.pop-box .fa-solid.fa-bookmark{padding-left: 4px; padding-right: 5px;}

/* 스와이퍼 설정 */
section.pop-post .swiper{padding-bottom: 20px;}


/* post 구역 */
/* 박스 이미지 */
section.post .post-box .post-img1{width: 20%;}

/* 박스 정보 */
section.post .post-box .post-info{padding-left: 26%; padding-top: 2%;}
section.post .post-box .post-info p.r1{font-size: 14px;}
section.post .post-box .post-info p.m4{padding-bottom: 10px;}
section.post .post-box .post-info .flex-box p:nth-child(1){padding-right: 10px;}
section.post .post-box .post-info .flex-box p:nth-child(3){padding-left: 10px;}

/* 첨부 이미지 */
section.post .post-box .post-img2{gap: 10px;}
section.post .post-box .post-img2 img{width: calc((100% - 20px) / 3); margin-bottom: 20px;}

/* 좋아요, 댓글, 북마크 */
.post-box .click{gap: 30px;}
.post-box .click i{font-size: 18px;}
.post .fa-solid.fa-heart{padding: 2px;}
.post .fa-solid.fa-bookmark{padding-left: 4px; padding-right: 5px;}


/* under-banner 구역 */
/* 디스플레이 설정 */
#pc-under{display: none;}
#mo-under{display: block;}

/* 텍스트 설정 */
section.under-banner .under-banner-txt{position: absolute; left: 5%; top: 20%;}
section.under-banner .under-banner-txt .title3{padding-bottom: 20px; font-size: 34px;}


}


@media(max-width:500px){
/* page-title 구역 */
section.page-title{margin-bottom: 30px;}

/* voice 구역 */
section.voice{margin-bottom: 80px;}
section.voice h2.title1{padding-bottom: 10px;}
section.voice .voice-active .m2{font-size: 16px; padding-top: 5px;}

/* list 구역 */
#pc-select{display: none;}
#mo-select{display: block;}

section.list h2.title1{padding-bottom: 10px;}
section.list>a{padding: 10px; font-size: 20px;}  


/* pop-post 구역 */
section.pop-post .b6{padding-top: 40px;}
/* 박스 전체 */
section.pop-post .pop-box{border-radius: 10px; padding: 20px;}

/* 박스 이미지 */
section.pop-post .pop-box .pop-img1{width: 22%;}

/* 박스 정보 */
section.pop-post .pop-box .pop-info{padding-left: 28%;}

/* 팔로잉 버튼 */
section.pop-post .pop-box .bt-green2{top: 20px; right: 20px;}

/* 글 내용 */
section.pop-post .pop-box  p.r2{padding-top: 7%;}

/* 첨부 이미지 */
section.pop-post .pop-box .pop-img2 img{border-radius: 10px;}

/* 스와이퍼 설정 */
section.pop-post .swiper-pagination-bullet{width: var(--swiper-pagination-bullet-width, 
    var(--swiper-pagination-bullet-size, 60px));}


/* post 구역 */
section.post{margin-top: 40px;}

/* 박스 전체 */
section.post .post-box{border-radius: 10px; margin-bottom: 10px;
                        padding: 20px;}

/* 박스 이미지 */
section.post .post-box .post-img1{width: 22%;}

/* 박스 정보 */
section.post .post-box .post-info{padding-left: 28%;}

/* 팔로잉 버튼 */
section.post .post-box .bt-green2{top: 20px; right: 20px;}

/* 글 내용 */
section.post .post-box p.r2{padding-top: 7%; padding-bottom: 20px;}

/* 첨부 이미지 */
section.post .post-box .post-img2 img{border-radius: 10px;}


/* page 구역 */
section.page{margin-bottom: 80px;}

section.page .flex-box{gap: 5px;}

section.page .flex-box li .fa-angles-left,
section.page .flex-box li .fa-angle-left,
section.page .flex-box li .fa-ellipsis,
section.page .flex-box li .fa-angle-right,
section.page .flex-box li .fa-angles-right{padding: 8px 0 6px 0;}

section.page .flex-box li i{font-size: 14px;}
section.page .flex-box li.page-num{font-weight: bold; padding: 6px 11px; font-size: 16px;}


/* under-banner 구역 */
/* 텍스트 설정 */
section.under-banner .under-banner-txt{position: absolute; left: 5%; top: 18%;}
section.under-banner .under-banner-txt .title3{padding-bottom: 10px; font-size: 22px;}


}



@media(max-width:393px){




}